{% extends "layout.html" %}
{% block content %}
    <h1>Plotly Dash charts</h1>
    <p>Your <a href="/dashapp/">dashboard</a> is at <code>/dashapp/</code> so you don't need to include the charts here, just the explanations.</p>
    </hr>
    <h2>Chart name</h2>
    <p>Chart created by: (also remember to add the name of who created the chart in comments in the code file)</p>
    <p>Code for the chart is in {filename}</p>
    <p>An explanation and reflection on the chart (see coursework spec on Moodle for what to discuss).</p>
    <hr>
    <h2>Chart name 2</h2>
    <p>etc ...</p>
{% endblock %}